<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Chi tiết sinh viên</h2>
    <p><b>Tên sinh viên: </b>
        <?php echo $student->name ?>
    </p>
    <p><b>Tuổi: </b>
        <?php echo $student->age ?>
    </p>
    <p><b>Hiện đang học: </b>
        <?php echo $student->university ?>
    </p>

    <a href="javascript: history.go (-1)">Go Back</a>
</body>

</html>