<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Chi tiết sinh viên</h2>
    <table border="1">
        <tr>
            <td><label for="name"><b>Tên sinh viên</b></label></td>
            <td>
                <?php echo $student->name ?>
            </td>
        </tr>
        <tr>
            <td><label for="age"><b>Tuổi</b></label></td>
            <td>
                <?php echo $student->age ?>
            </td>
        </tr>
        <tr>
            <td><label for="university"><b>Trường đại học</b></label></td>
            <td>
                <?php echo $student->university ?>
            </td>
        </tr>
    </table>

    <a href="javascript: history.go (-1)">Go Back</a>
</body>

</html>