<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Danh sách các sinh viên</h2>
    <table border="1">
        <tr>
            <th>STT</th>
            <th>Tên sinh viên</th>
            <th>Tuổi</th>
            <th>Trường đại học</th>
        </tr>
        <?php
        for ($i = 1; $i <= sizeof($students); $i++) {
        ?>
        <tr>
            <td>
                <?php echo $i ?>
            </td>
            <td><a href="?mod3='1'&stdid=<?php echo $students[$i]->id ?>">
                    <?php echo $students[$i]->name ?>
            </td>
            <td>
                <?php echo $students[$i]->age ?>
            </td>
            <td>
                <?php echo $students[$i]->university ?>
            </td>
        </tr>
        <?php
        }
        ?>
    </table>

    <a href="../index.php">Go Back</a>

</body>

</html>